/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
figure,
figcaption {
	margin: 0;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

html {
	background: #222;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	line-height: 1.5;
	/* Enabling scroll on all pages to make transitions smoother */
	overflow-y: scroll;
}

/* Text styling */
ul {
	list-style: none;
}

h1,
h2,
h3,
h4 {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	color: #fff;
}

h1 {
	font-size: 3em;
	color: #f8494f;
}

h2 {
	font-size: 2em;
	color: #f8494f;
}

h3 {
	font-size: 1.8em;
}

a,
p,
figcaption,
li {
	font-family: "Open Sans", Tahoma, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}

@media (min-width: 900px) {
	a,
	p {
		font-size: 1.1rem;
	}

	figcaption > a {
		font-size: initial;
	}
}

/* Global styling, header & nav */
img {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
		0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
		0 16px 16px rgba(0, 0, 0, 0.12);
}

header {
	padding-top: 1rem;
}

nav {
	background-color: #111;
	/* margin: auto 0; */
	position: fixed; /* Placing nav at bottom for smaller screens */
	bottom: 0;
	z-index: 1;
	width: 100%;
	padding: 0.5rem 0;
	z-index: 30; /* setting the z-index higher than the transition, so the mobile menu is always visible*/
}

nav ul {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	justify-content: center;
}

nav a {
	color: #fff;
	display: inline-block;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	padding: 0.5rem 0.5rem;
	margin: 0 1rem;
	font-size: 0.8em;
	border-bottom: 4px solid rgba(0, 0, 0, 0); /* Setting invisible border on other menu itens so animation doesn't 'jump' on mobile */
}

.name {
	text-align: center;
	padding: 0;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	color: #f8494f;
	font-size: 1.5em;
	display: block;
	width: 100%;
}

@media (min-width: 900px) {
	@supports (-webkit-text-stroke: 2px #f8494f) {
		.pagetitle {
			-webkit-text-stroke: 2px #f8494f;
			-webkit-text-fill-color: rgba(255, 255, 255, 0);
			font-size: 5vw;
			margin-bottom: 5rem;
		}
	}
}

main {
	margin: 2rem auto;
	width: 80%;
}

@media (min-width: 900px) {
	header {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	.name {
		grid-column: 1 / 8;
		grid-row: 1;
		justify-self: center;
		align-self: center;
		display: initial;
	}

	nav {
		/* Resetting nav to top of the screen */
		position: initial;
		background-color: initial;
		grid-column: 7 / 13;
		grid-row: 1;
		justify-self: center;
		align-self: center;
		z-index: initial;
	}

	nav a {
		color: #fff;
		width: initial;
		display: initial;
		font-size: 1.3em;
		padding: 0.8rem 0.5rem;
	}

	main {
		margin-top: 4rem;
	}
}

/* Skip to content styling */
/* Hidden by default and is shown when focused */
.skip a {
	display: block;
	position: absolute;
	width: 100%;
	left: -999px;
	top: -999px;
	text-align: center;
	color: #000;
}

.skip a:focus {
	left: 0;
	top: 0;
	padding: 3px;
	background: #fff;
	border: 1px solid #f8494f;
}

/* Homepage styling */

.about h1 {
	font-size: 5vw;
}

@media (min-width: 900px) {
	@supports (-webkit-text-stroke: 2px #f8494f) {
		.about-highlight {
			-webkit-text-stroke: 2px #f8494f;
			-webkit-text-fill-color: rgba(255, 255, 255, 0);
		}
	}
}

.profile-pic img {
	display: block;
	object-fit: cover;
	max-width: 100%;
	max-height: 100%;
}

#right-arrow {
	transition: 0.2s ease-in-out;
}

#right-arrow,
#down-arrow {
	max-height: 20px;
	box-shadow: none;
}

.home-cv a {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 0.8em;
}

.homepage h2 {
	font-weight: 400;
}

.homepage-about {
	margin-top: 10rem;
}

.ux-one + img,
.ux-two + img {
	max-width: 100%;
}

.homepage-projects img {
	box-shadow: none;
}

.timeline {
	width: 100%;
	margin: 5rem 0;
}

.timeline img {
	max-width: 70vw;
	box-shadow: none;
	display: block;
	margin: auto;
}

.homepage-about p {
	max-width: 40rem;
	margin: 1.5rem auto;
}

.scroll-button {
	margin: auto;
	width: 300px;
	cursor: pointer;
}

@media (min-width: 900px) {
	.scroll-down {
		width: 100%;
		text-align: center;
		position: absolute;
		left: 0;
		top: 90%;
		margin: 0;
		padding: 0;
	}

	.scroll-down h3 {
		font-size: 1.2em;
		font-weight: 400;
	}

	.scroll-down img {
		box-shadow: none;
	}

	.about {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
		grid-gap: 10px;
		height: 80vh;
	}

	.profile-pic {
		grid-column: 3 / 5;
		grid-row: 1 / 3;
		justify-self: flex-end;
		align-self: flex-end;
		height: 100%;
	}
	.about h1 {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
		align-self: flex-end;
		justify-self: center;
		line-height: normal;
	}

	.home-cv {
		grid-column: 1 / 3;
		grid-row: 2;
		align-self: flex-start;
	}

	.home-cv a {
		padding: 1rem 2rem 1rem 0;
	}

	.home-cv:hover #right-arrow {
		transform: translateX(10px);
		transition: 0.2s ease-in-out;
	}

	.homepage-projects {
		margin-top: 10rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		grid-gap: 10px;
	}

	.homepage-projects h3 {
		margin: 0.5rem 0;
	}

	.homepage-projects h4 {
		font-weight: 400;
		margin: 0.5rem 0;
	}

	.homepage-projects a > img {
		max-width: 18px;
	}

	.homepage-projects a {
		font-family: "Montserrat", Arial, Helvetica, sans-serif;
		padding: 2rem 2rem 2rem 0;
	}

	.homepage-projects a,
	.homepage-projects a > img {
		margin-top: 5rem;
	}

	.ux-one,
	.ux-two {
		align-self: center;
		justify-self: center;
	}

	.ux-two,
	.ux-two-img {
		grid-row: 2;
		margin-top: 5rem;
	}

	.ux-one,
	.ux-one-img {
		grid-row: 3;
		margin-top: 10rem;
	}
}

/* blogs page styling */
@media (min-width: 900px) {
	.blog-post > * {
		max-width: 40rem;
		margin-left: auto;
		margin-right: auto;
	}

	.blog-post {
		max-width: 50rem;
	}

	.blog-post h1 {
		margin-top: 2rem;
	}
}

.blog-post li {
	padding: 0.5rem;
}

.author {
	font-size: 1em;
	font-style: italic;
}

.blog-post {
	width: 100%;
	padding: 1rem;
}

.blog-post h3 {
	color: #f8494f;
}

.blog-post article {
	position: relative;
}

.blog-post img {
	border: 2px solid #eee;
	background: #eee;
	max-width: 80%;
	margin: 0 1rem;
	max-height: 400px;
}

.blog-post a {
	border-bottom: 2px solid #f8494f;
	transition: 0.1s;
}

.blog-post a:hover {
	transition: 0.1s;
	border-bottom: 4px solid #f8494f;
}

.blog-post .to-top {
	width: 80px;
	cursor: pointer;
	border-bottom: 2px solid #f8494f;
}

figcaption {
	padding: 0 2rem;
	font-style: italic;
}

/* Blog posts styling */

.blogs {
	margin-top: 5rem;
}

.blogs h2 {
	color: #fff;
}

.blog-number {
	font-weight: 400;
	color: #f8494f;
}

.blogs h3 {
	font-weight: 400;
	font-size: 1.5em;
}

.blogs div {
	margin: auto;
	border-top: 5px solid #f8494f;
	max-width: 1200px;
	margin-top: 5rem;
}

.blogs div a {
	padding: 2rem 0;
	display: flex;
	justify-content: space-between;
}

.blogs div ul {
	padding: 0;
	margin-right: 3rem;
	max-width: 30rem;
}

.blogs img {
	max-height: 250px;
	object-fit: cover;
}

.blogs p {
	max-width: 40rem;
}

/* Contact page */

.contact h2 {
	color: #f8494f;
}

form label {
	display: block;
	/* instead of inline */
	padding-bottom: 0.2em;
	padding-top: 1em;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

form div {
	position: relative;
}

form input,
form textarea {
	padding: 0.4em 0.3em;
	font-size: 1.5em;
	/* lighter grey, less visually heavy */
	border: 0;
	outline: 0;
	background: none;
	/* make sure our fields aren't too wide or not wide enough */
	min-width: 90%;
	max-width: 90%;
	color: #fff;
	/* background-color: #fff9; */
	border: 2px solid #fff;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

form input[type="submit"] {
	/* https://developer.mozilla.org/en/docs/Web/CSS/Attribute_selectors */
	/* if you used display:block; this would go right across the page - if you use inline-block the button will only be as wide as the text and the padding */
	min-width: 0;
	/* turn off a minimum width for the button and let the browser work it out */
	background-color: #f8494f;
	transition: 0.1s;
	border: 0;
	padding: 13px 30px;
	margin-top: 10px;
	/* top and bottom, left and right */
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
		0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
		0 16px 16px rgba(0, 0, 0, 0.12);
}

#contact-name:hover,
#contact-email:hover,
#contact-message:hover {
	transition: 0.1s;
	border-color: #f8494f;
}

.contact ul li a {
	padding: 1rem;
}

.about-contact-page h3 {
	margin: 1rem 0;
}

.contact section {
	margin-bottom: 2rem;
}

.submit-form:hover {
	transition: 0.1s;
	background-color: #f8494f;
}

/* Using flexbox here and set the width of each section to 50% as it is only a two column layout */
@media (min-width: 900px) {
	.contact {
		display: flex;
		flex-wrap: wrap;
	}

	.contact .pagetitle {
		flex: 100%;
	}

	.contact-me,
	.about-contact-page {
		flex: 50%;
	}

	.about-contact-page p {
		max-width: 35rem;
	}
}

/* CV page */

.cv {
	display: flex;
}

.cv article {
	margin: auto;
}

.cv img {
	max-width: 20rem;
	display: block;
	object-fit: cover;
	margin-left: 2rem;
}

@media (min-width: 900px) {
	.cv-contact {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

.cv-contact ul {
	padding: 0;
}

.cv-details {
	text-transform: uppercase;
	font-size: 0.8em;
}

.cv-skills ul li {
	list-style: square;
}

.cv h4 {
	font-weight: 400;
	border-bottom: 2px solid #f8494f;
}

.cv p {
	max-width: 40rem;
}

.cv a {
	border-bottom: 2px solid #f8494f;
	transition: 0.1s;
}

.cv a:hover {
	transition: 0.1s;
	border-bottom: 4px solid #f8494f;
}

/* projects page */
.project-page {
	max-width: 50rem;
	margin: auto;
}

.ux-process {
	font-weight: 600;
	font-size: 1.2em;
}

.project-page a {
	border-bottom: 2px solid #f8494f;
	transition: 0.1s;
}

.project-page a:hover {
	transition: 0.1s;
	border-bottom: 4px solid #f8494f;
}

.project-links li {
	padding-bottom: 1em;
}

.project-page img {
	background-color: #eee;
	border: 2px solid #eee;
}

.uxd-userflow {
	width: 100%;
	max-width: 900px;
	height: auto;
	display: block;
	margin: 0 auto;
}

.uxd-gif {
	display: block;
	margin: 2rem auto;
}

@media (min-width: 900px) {
	.uxd-image-gallery {
		display: flex;
	}
}

/* TODO Fully responsive image */
.uxd-image-gallery img {
	width: 100%;
	max-width: 500px;
	height: auto;
}

.uxd-image-gallery li {
	padding: 1rem;
}

/* Footer */

footer {
	margin-bottom: 2rem;
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

@media (max-width: 900px) {
	footer {
		margin-bottom: 5rem; /* increasing bottom margin to push socials above the bottom nav on mobile */
	}
}

.socials {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.socials a {
	margin: 0 0.2rem;
	padding: 1rem;
}

.socials img {
	height: 25px;
	width: 25px;
	box-shadow: none;
	vertical-align: middle;
}

/* Transitions */

.transition-one,
.transition-two {
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	pointer-events: none;
	transform: scaleX(0);
}

.transition-one {
	background-color: #f8494f;
}

.transition-two {
	background-color: #222;
}

.transition-two h1 {
	position: absolute;
	top: 45%;
	left: 20%;
}

@media (min-width: 900px) {
	.transition-two h1 {
		left: 35%;
	}
}

/* WEATHER APP */

.weather-app select {
	display: block;
	font-family: "Montserrat", Tahoma, Helvetica, sans-serif;
	background-color: #f6eee3;
	border: 2px solid #f8494f;
	transition: 0.1s;
	height: 45px;
	width: 220px;
	padding: 0 0.7rem;
	margin: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
		0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
		0 16px 16px rgba(0, 0, 0, 0.12);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; /* Remove default arrow */
	background-image: url(../img/arrow-down.svg); /* Add custom arrow */
	background-repeat: no-repeat, repeat;
	background-position: right 0.7em top 50%, 0 0;
	background-size: 1.3em;
	cursor: pointer;
	font-weight: 600;
}
.weather-app select:hover {
	background-color: #f6eee3;
	border: 2px solid #f8494f;
	transition: 0.1s;
}

.weather-app select option {
	font-weight: 400;
}

.weather-app label {
	font-family: "Montserrat", Tahoma, Helvetica, sans-serif;
}
